html{
    height: 100%;
}
body{
    background-color: rgba(50, 237, 255, .099);
    background-image: linear-gradient(to bottom, rgba(50, 237, 255, 0.15),rgba(50,237,255,.1));
    background-repeat: no-repeat;
    background-position: center center;
}
h1{
    /* font style */
    color: grey;
    font-family: 'Work Sans', sans-serif;
    text-shadow: -2px 2px 1px rgba(50, 237, 255, 0.125);
    text-align: center;
    /*box spacing*/
    padding-top: 25px;
}
p{
    /*font style */
    color: grey;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 4px;
    
    /*box spacing*/
    padding: 10px 0px;

}
.box {
    width: 100px;
    height: 100px;
    background: #FFF;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    -webkit-transform: translate(0, 0);
    -webkit-transition: -webkit-transform 500ms;
    transform: translate(0, 0);
    transition: transform 500ms;
    will-change: transform;
}
.container{
    width:538px;
}
section,
aside{
    margin:10px;
}
section {
    float: left;
    width: 340px;
}
aside{
    float: right;
    width: 158px;
}
#artTable{
    word-spacing: 3px;
}


/*.liststyl{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    padding: 40px;
}
body {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}
h1{
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
    background-color: white;
    padding-bottom: 50px;
    padding-top: 25px;
    position: relative;

    text-align: center;
}
div#pDscrpt{
    border-width: 10px, 100px;
    text-align: center;
    position: relative;
}
div#pic1{
    width: 10%;
    height: 10%;
    position: relative; 
    top: 50px;
}
div#pic2{
    position: relative;
    width: 200px;
    display:block;
}
